body {
text-align: center;
background-color: aqua;
background-image: url(https://cdn.awsli.com.br/600x450/1957/1957185/produto/127375608/pantera-cor-de-rosa-30624ad2.jpg);   
background-repeat: no-repeat;
height: 100%;
background-position: center;
background-size: cover;
margin: 0;
padding: 300px;  


}

.mensagem{
    border: 3px  solid rgb(255, 0, 200);
    background-color:  rgb(255, 0, 119)
    
}

.mensagem-sucesso {
    border-color:green;

}

.mensagem-erro {
    border-color: red;
    background-color: brown;
    color: white;
}
h1{
    color: rgb(141, 9, 70);
    font-style:italic ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
#email{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}

div label{
    color: rgb(0, 0, 0);
}
#senha{
background-color: white;
    border-radius: 10px;
}

button {
   
   
    background-color: #890707;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

button:hover {
    background-color: #ffad3b;

}
p {
    text-align: center;
    margin-top: 15px;
}
p a:hover {
    text-decoration: underline;
}
 a {
    color: rgb(0, 0, 0);
 }

